/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Navigation
	3.3 account
	3.4 Hamburger
4. Menu
	4.1 Menu Social
	4.2 Menu copyright
5. Home
6. Top Destinations
7. Services
8. Sign Up
9. Login
10.Profile
11.Footer

******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #131a2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #131a2f;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(254, 60, 82, 0.8);
	color: #FFFFFF;
}
p::selection
{

}


h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection
{

}
.form-control
{
	color: #636c72;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.nopadding
{
	padding: 0px !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}



/*********************************
3. Header
*********************************/

.header
{
	display: block;
	position: fixed;
	top: 20px;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	top: 10px;
}
.header_container
{
	width: 100%;
	height:45px;
	background: #131a2f;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	border-radius: 45px
}
/*.header.scrolled .header_container
{
	height:65px;
}*/

/*********************************
3.1 Logo
*********************************/

.logo_container
{
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	-ms-transform: translateY(8px);
	-o-transform: translateY(8px);
	transform: translateY(8px);
}
.logo
{
	height: 100%;
	padding-left: 72px;
}
.logo div
{
	color: #FFFFFF;
	text-transform: uppercase;
}
.logo div:first-of-type
{
	font-size: 24px;
	font-weight: 500;
	line-height: 0.75;
}
.logo div:nth-child(2)
{
	font-size: 10px;
	font-weight: 500;
	color: #929292;
	letter-spacing: 0.13em;
	margin-top: 2px;
	padding-left: 2px;
}
.logo_image
{
	position: absolute;
	top: -34px;
	left: 41px;
	width: 50px;
	height: 41px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .logo_image
{
	width: 40px;
	top: -28px;
	left: 46px;
}
.logo_image img
{
	max-width: 100%;
}

/*********************************
3.2 Navigation
*********************************/

.main_nav
{
	/*height: 100%;*/
	padding-right: 173px;
}
.main_nav_list
{
	height: 100%;
}
.main_nav_item
{
	display: inline-block;
	position: relative;
	/*padding-left: 22px;
	padding-right: 22px;*/
	margin-right: -4px;
	padding-top: 2px;
}
.main_nav_item.active::after
{
	display: block;
	position: absolute;
	bottom: 39px;
	left: 0;
	width: 100%;
	height:3px;
	background: #00a9d6;
	content: '';
}
.main_nav_item a
{
	display: block;
	font-size: 13px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 121px;
	padding-left: 11px;
	padding-right: 11px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .main_nav_item a
{
	line-height: 118px;
}
.main_nav_item.active a
{
	color: #00a9d6;
}
.main_nav_item:hover a
{
	color: #00a9d6;
}

/*********************************
3.3 account
*********************************/

.icon-bar
{
	position: absolute;
	top: 0;
	right: -1px;
	width: 75px;
	height: 100%;
	background: #00a9d6;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 25px 25px
}
.icon-bar a {
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
  /*  padding: 13px;  Add some padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
    font-size: 28px; /* Increased font-size */
		padding: 3px
}

.icon-bar.active
{
	width: 300px;
}
.icon-bar:hover
{
	background: #0087ab;
}


/*********************************
3.4 Hamburger
*********************************/

.hamburger
{
	display: none;
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
	margin-right: 20px;
	cursor: pointer;
}
.hamburger i
{
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: rgba(0,0,0,0.4);
}
/*********************************
4. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 1000;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.menu
{
	position: absolute;
	width: 100%;
	top:150px;
	left: 0;
	padding-left: 15%;
	padding-right: 79px;
}
.menu_list
{
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
	margin-top: 30px;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 9px;
}
.menu_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item a:hover
{
	color: #00a9d6;
}
.menu_close_container
{
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #00a9d6;
}


/*********************************
4.1 Menu Social
*********************************/

.menu_social_container
{
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}
.menu_social_item
{
	display: inline-block;
	margin-right: 30px;
}
.menu_social_item a i
{
	color: #3a3a3a;
}
.menu_social_item a i:hover
{
	color: #00a9d6;
}
.menu_container.active .menu_social_container
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
4.2 Menu copyright
*********************************/

.menu_copyright
{
	margin-top: 60px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1200ms ease;
	-moz-transition: all 1000ms 1200ms ease;
	-ms-transition: all 1000ms 1200ms ease;
	-o-transition: all 1000ms 1200ms ease;
	transition: all 1000ms 1200ms ease;
	opacity: 0;
	padding-left: 3px;
}
.menu_container.active .menu_copyright
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}



/*********************************
5. Home
*********************************/

 .carousel-item {
    	min-height: 240px;
    	background: no-repeat center center scroll;
	   -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
}
.carousel{
	box-shadow: 0px 10px rgba(0,0,0,0.5);
	border-radius: 0px 0px 10px 10px
}

.home_content
{
	position: absolute;
	top: 27%;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	width: 80%;
	text-align: center;
}
.home_text_large
{
	font-size: 215px;
	font-weight: 900;
	color: #fdaa27;
	opacity: 0.34;
	text-transform: uppercase;
	line-height: 0.75;
}
.home_text_small
{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	font-size: 72px;
	font-weight: 400;
	color: #FFFFFF;
	text-shadow: 0px 11px 51px rgba(0,0,0,0.35);
}

/*********************************
6. Top Destinations
*********************************/

.top
{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 106px;
}
.section_title
{
	line-height: 1.1;
}
.section_title h2
{
	font-weight: 300;
	color: #131a2f;
}
.section_title div
{
	font-size: 16px;
	font-weight: 400;
	color: #7d8293;
	text-transform: uppercase;
	margin-top: 19px;
}
.top_content
{
	margin-top: 82px;
}
.top_item
{
	width: 100%;
}
.top_item a
{
	display: block;
}
.top_item_image img
{
	max-width: 100%;
}
.top_item_content
{
	position: absolute;
	left: 33px;
	bottom: 29px;
}
.top_item_price
{
	font-size: 14px;
	font-weight: 400;
	color: #FFFFFF;
}
.top_item_text
{
	font-size: 20px;
	font-weight: 400;
	color: #FFFFFF;
	margin-top: 2px;
}
/*********************************
7 . Services
*********************************/
.service{
	padding: 20px;
	margin: auto;
	float: none;
}
.service-row{
	margin-bottom: 25px;
	background: linear-gradient(141deg, rgba(15,184,173,0.3) 0%, rgba(31,200,219,0.2) 51%, rgba(44,181,232,0.5) 75%);
}
.service .btn-primary{
	background-color: #00a9d6;
	border-color: #00a9d6t
}
.form-desc{
	padding: 15px;
	background-color: rgba(14,159,209,0.6);
	border-radius: 5px;
	color: white
}
.service-list li {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 2em;
  border-radius: 50%;
	border: 1px solid #1e90ff;
  background: lightblue;
  margin: 0 1em;
	cursor: pointer;
  display: inline-block;
  position: relative;
}

.service-list li::before{
	content: '';
  position: absolute;
  top: 2.5em;
  left: -4em;
  width: 4em;
  height: .2em;
  background: dodgerblue;
  z-index: -1;
}
.service-list li:first-child::before {
  display: none;
}
.service-list .active {
  background: dodgerblue;
}
.service-list .active .icon-name{
  color: white
}
.service-list li:hover{
	background: dodgerblue;
}
.service-list li:hover .icon-name{
	color: white !important;
}

.service-list{
	float: none;
	margin: auto;
	padding: 50px;
	text-align: center;
}
.icon-name{
	font-size: 13px;
	position: relative;
	top: -12px;
	color: #1e90ff;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden !important;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
.material-icons{
	font-size: 30px;
	padding:8px;
	color: black;
}

.signup__link {
  font-size: .8rem;
  font-weight: 600;
  text-decoration: underline;
  color: #999;
}
.signup__link:focus, .signup__link:hover {
  color: #787878;
}

/*********************************
8. Sign Up
*********************************/

.signup{
  padding:20px 10px;
}

.signup .signup-content{
  margin:30px auto;
  background:#fff;
  border:1px solid #ddd;
  border-radius:4px;
  box-shadow:5px 5px 0px 1px rgba(0,0,0,0.05);
}
@media (max-width:767px){
  .signup .signup-content{
    max-width:400px;
  }
}


.signup .signup-content .signup-social{
  padding:25px 30px;

  color:#999;
}
@media (max-width:767px){
  .signup .signup-content .signup-social{
    border:0px;
    border-top:1px solid #eee;
  }
}

.signup h2{
  font-size:15px;
  text-transform:uppercase;
}
.signup .signup-social ul li{
  margin:10px 0px;
}
.signup-padd{
	border-right:1px solid #eee;
}
.signup .signup-social ul li a{
  width:100%;
  display:block;
  color:#fff;
  border-radius:3px;
  padding:5px 10px;
}

.signup .signup-social ul li > a > i{
  width:25px;
  text-align:center;
}
.login {
  position: relative;
  padding: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background: url(../images/login.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: auto;

}

.signup .signup-content .signup-form{
  padding:15px 30px;
}

.signup .signup-form .signup-input{
  position: relative;
  width: 100%;
  margin:15px 0px;
}
.signup .signup-form .form-control{
  height:40px;
}

.signup .signup-form .signup-icon{
  right:4px;
  top: 0;
  font-size:14px;
  width: 30px;
  color: #ddd;
  line-height:40px;
  position: absolute;
  text-align: center;
}
/*********************************
9. Login
*********************************/


.login__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.76);
}
.login__content,
.login__links {
  position: relative;
  z-index: 2;
}
.login__content {
  align-self: center;
	padding: 20px;
}
.heading--primary {
  font-size: 1.3rem;
	color: white
}

.heading--secondary {
  font-size: 0.8rem;
	color: white
}

.login__links {
  align-self: flex-end;
  width: 100%;
}
.login__links a {
  font-size: 1rem;
  color: #fff;
}
.login__links a:focus, .login__links a:hover {
  color: rgba(0,169,214, 0.5);
}
.list-inline li {
    display: inline;
		padding: 10px;
}

/*********************************
10. Profile
*********************************/

 /*********************************
11. Footer
*********************************/
footer.nb-footer {
background:#131a2f;
border-top: 4px solid #00a9d6; }
footer.nb-footer .about {
margin: 0 auto;
margin-top: 40px;
max-width: 1170px;
text-align: center; }
footer.nb-footer .about p {
font-size: 13px;
color: #999;
margin-top: 30px; }
footer.nb-footer .about .social-media {
margin-top: 15px; }
footer.nb-footer .about .social-media ul li a {
display: inline-block;
width: 45px;
height: 45px;
line-height: 45px;
border-radius: 50%;
font-size: 16px;
color: #00a9d6;
border: 1px solid rgba(255, 255, 255, 0.3); }
footer.nb-footer .about .social-media ul li a:hover {
background: #00a9d6;
color: #fff;
border-color:#00a9d6; }
footer.nb-footer .footer-info-single {
margin-top: 30px; }
footer.nb-footer .footer-info-single .title {
color: #aaa;
text-transform: uppercase;
font-size: 16px;
border-left: 4px solid #00a9d6;
padding-left: 5px; }
footer.nb-footer .footer-info-single ul li a {
display: block;
color: #aaa;
padding: 2px 0; }
footer.nb-footer .footer-info-single ul li a:hover {
color: #00a9d6; }
footer.nb-footer .footer-info-single p {
font-size: 13px;
line-height: 20px;
color: #aaa; }
footer.nb-footer .copyright {
margin-top: 15px;
background: #00a9d6;
padding: 7px 0;
color: #FFFFFF; }
footer.nb-footer .copyright p {
margin: 0;
padding: 0; 
color: #FFFFFF;}
footer .signUpNewsletter .gt-email {
background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
border: 1px solid #00a9d6;
border-radius: 0;
color: #ffffff;
height: 52px;
}



/*********************************
Social Icons
*********************************/

.facebook {	background: #3280e7; }
.facebook:hover { background: #134fa0; }
.twitter { background: #32c8de;}
.twitter:hover {	background: #188392;}
.google-plus {background: #f96f4a;}
.google-plus:hover {	background: #eb6440;}
.linkedin  {	background: #729fda;}
.linkedin:hover {background: #3069b6;}
.pinterest {	background: #ed5441;}
.pinterest:hover { background: #b72411;}
.dropbox {background: #32c8de;}
.dropbox:hover {	background: #188392;}
.bitcoin {background: #f8a841;}
.bitcoin:hover {	background: #cc7607;}
.foursquare {background: #22bed4;}
.foursquare:hover {background: #146f7c;}
.flickr { background: #ff61e7;}
.flickr:hover {	background: #fa00d4;}
.github {background: #666666;}
.github:hover {	background: #333333;}
.instagram {	background: #d6917a;}
.instagram:hover {background: #b35637;}
.skype {background: #32c8de;}
.skype:hover {background: #188392;}
.tumblr {background: #84a1c8;}
.tumblr:hover {background: #476d9f;}
.vimeo {background: #32c8de;}
.vimeo:hover {background: #188392;}
.dribbble{background: #ff2edf;}
.dribbble:hover {background: #c700a9;}
.youtube {background: #ed5441;}
.youtube:hover {	background: #b72411;}
